name: Build and Deploy Zola
on:
  push:
    branches:
      - master

permissions:
  contents: write # allows the action to push to gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true # use 'recursive' if your theme has its own submodules

      - name: Build and deploy
        uses: shalzz/zola-deploy-action@v0.19.2
        env:
          PAGES_BRANCH: gh-pages
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CNAME: jaydatt.me
